# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Virtual environment
venv/
env/

# Django
staticfiles/
media/
logs/
*.log

# Environment variables
.env
.env.*
*.env
!.env.example

# VSCode
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/
.coverage

# Distribution / packaging
build/
dist/
*.egg-info/

# Docker (optional)
#*.dockerignore
Dockerfile
docker-compose.yml
